{% extends 'base.html' %}


{% block content %}
<div class="row">
    <div class="col-6 offset-3">
        <h3>Confirm Archive <i class="fa fa-archive"></i></h3>
        <div class="alert alert-danger">
            <p>Would you like to archive this bookmark:</p>
            <a href="{{bookmark.link}}" target="_blank" class="font-weight-bold">{{bookmark.title}}</a>
        </div>
        <form action="." method="post">{% csrf_token %}
            <div class="float-right">
                <a href="javascript:history.go(-1)" class="btn btn-default">Return</a>
                <button type="submit" class="btn btn-info"><i class="fa fa-archive"></i> Archive</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}