{% extends 'base.html' %}
{% load bookmarks_extras %}
{% block content %}

<a href="{% url 'bookmark:create' %}" class="btn btn-primary pull-right">
    <i class="fa fa-bookmark-o"></i> New Bookmark
</a>
<br>

{% for category in categories %}
<div class="row">

    <div class="table-responsive">
        <h2>{{category.name}}</h2>
                <table class="table table-striped table-bordered table-hover table-scroll">
                    <thead>
                        <tr class="table-primary">
                            <th>Title</th>
                            <th>Link</th>
                            <th>Archive</th>
                            <th>Delete</th>
                            <th>Safe</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for bookmark in category.bookmark_set.all %}
                        <tr>
                            <td><a href="{{bookmark.link}}">{{bookmark.title}}</a></td>
                            <td>{{bookmark.link|get_host_name}}</td>
                            <td class="text-center"><a href="{% url 'bookmark:archive' pk=bookmark.pk %}"><i class="fa fa-archive fa-lg"></i></a></td>
                            <td class="text-center"><a href="#"><i class="fa fa-trash text-danger fa-lg"></i></a></td>
                            <td class="text-center">
                                {% if bookmark.safe %}
                                <i class="fa fa-check-circle fa-lg"></i>
                                {% else %}
                                <i class="fa fa-times-circle text-danger fa-lg"></i>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
    </div>

</div>
{% endfor %}



<div class="row">
    {% for category in categories %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                {{category.name}}
            </div>
            <div class="card-body scroll">
                {% for bookmark in category.bookmark_set.all %}
                {% comment %}
                <h5 class="card-title">{{bookmark.title|title}}</h5>
                <a href="{{bookmark.link}}" class="card-link">{{bookmark.link}}</a>
                {% endcomment %}
                <div class="card-content">
                    <h5 class="card-title">{{bookmark.title|title}}</h5>
                    <a href="{{bookmark.link}}" class="card-link">{{bookmark.link}}</a>
                    <br>
                    <a href="{% url 'bookmark:archive' pk=bookmark.pk %}"><i class="fa fa-archive pull-right"></i></a>
                    <i class="fa fa-trash pull-right"></i>
                    {% if bookmark.safe %}
                    <i class="fa fa-check-circle pull-right"></i>
                    {% else %}
                    <i class="fa fa-times-circle text-danger"></i>
                    {% endif %}
                    <!--<i class="fa fa-check-square-o pull-right"></i>-->
                    <!--<i class="fa fa-check pull-right"></i>-->
                    <!--<i class="fa fa-check-square pull-right"></i>-->
                    <!--<i>fix</i>-->
                </div>

                {% endfor %}
            </div>
            <div class="card-footer text-muted">
                Show More
            </div>
        </div>
    </div>
    {% endfor %}
</div>

{% endblock %}
