{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-4 col-md-4">
        <h2>Add New Expense</h2>
        <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/bs4_form.html' with form=form %}
            <button class="btn btn-primary float-right">Submit</button>
        </form>
    </div>    

    <div class="col-8 col-md-8">
        <h2>Total Expense: <strong>{{total_expenses}} DA</strong></h2>

        <table class="table table-stripped table-bordered table-hover table-scroll" style="height: 430px">
            <thead class="table-dark">
                <tr>
                    <th>Category</th>
                    <th>Total</th>
                    <th>Details</th>
                </tr>
            </thead>
            <tbody class="table-info">
            {% for category in categories %}
                <tr>
                    <td>{{ category.title}}</td>
                    <td>{{category.get_total_cost}}</td>
                    <td><a href="{{ category.get_absolute_url }}">See Details</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock content %}