{% extends 'base.html' %}
{% block content %}
<a href="{% url 'todo:create' %}" class="btn btn-primary">Create New ToDo</a>
<br>

<div class="row">
    {% for set in sets %}
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                {{set.title}}
            </div>
            <div class="card-body scroll">
                {% for todo in set.todo_set.all %}
                {% comment %}
                <h5 class="card-title">{{bookmark.title|title}}</h5>
                <a href="{{bookmark.link}}" class="card-link">{{bookmark.link}}</a>
                {% endcomment %}
                <div class="card-content">
                    <h5 class="card-title">{{todo.title|title}}</h5>

                    <br>
                    <a href="{% url 'todo:archive' pk=todo.pk %}"><i class="fa fa-archive pull-right"></i></a>
                    <a href="{% url 'todo:delete' pk=todo.pk %}"><i class="fa fa-trash text-danger pull-right"></i></a>
                    <!--<i class="fa fa-check-circle pull-right"></i>-->
                    <!--<i class="fa fa-check-square-o pull-right"></i>-->
                    <!--<i class="fa fa-check pull-right"></i>-->
                    <!--<i class="fa fa-check-square pull-right"></i>-->
                    <!--<i class="fa fa-times-circle pull-right"></i>-->
                    <i>{{todo.get_priority_display}}</i>
                </div>

                {% endfor %}
            </div>
            <div class="card-footer text-muted">
                Show More
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}