{% load pomodoro_extras %}
<h2>{{period}} {{ total_duration|format_duration}}</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <thead class="table-dark">
        <tr>
            <th>Task</th>
            <th>Project</th>
            <th>Duration</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
        {% for task, value in task_duration.items %}
        <tr>
            <td>{{ task.1.title}}</td>
            <td>{{ task.0}}</td>
            <td>{{ value|format_duration}}</td>
            <td><a href="{% url 'pomodoro:task-detail' task.1.pk %}">Details</a></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
