{% extends 'base.html' %}
{% load static %}
{% load pomodoro_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Projects
        <a href="{% url 'pomodoro:new-project' %}" class="btn btn-dark float-sm-right text-bold"><i class="fa fa-plus"></i> New Project</a>
      </h2>
    </div>
  </div>
 
  <div class="row center-panel">
    <div class="col-12 col-sm-4 col-md-4">
      <h6><strong>Project count:</strong> {{projects.count}}</h6>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <h6><strong>Total duration:</strong> {{total_duration|format_duration}}</h6>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
      <h6><strong>Task count:</strong> {{tasks_count}}</h6>
    </div>
  </div>
     
      <div class="row">
        <table class="table table-striped table-bordered table-list table-hover">
          <thead class="table-dark">
          <tr>
            <th>#</th>
            <th>Project</th>
            <th>Tasks</th>
            <th>Passed Time</th>
          </tr>
          </thead>
          <tbody>
          {% for project in projects %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>
              <a href="{% url 'pomodoro:project-detail' project.pk %}">{{project.title|title}}</a>
            </td>
            <td>
              <a href="{% url 'pomodoro:project-tasks' pk=project.pk %}">See {{project.task_count}} task{% if project.task_count > 1%}s{% endif %}</a>
            </td>
            <td>{{project.passed_time|format_duration}}</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      </div>
  </div>
</div>

{% endblock content %}