{% extends 'base.html' %}
{% load static %}
{% load pomodoro_extras %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Projects
        <a href="{% url 'pomodoro:project-create' %}" class="btn btn-dark float-sm-right text-bold"><i
            class="fa fa-plus"></i> New Project</a>
      </h2>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-sm-6 col-md-3 text-sm-center">
      <h6><strong>Project count:</strong> {{project_count}}</h6>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <h6><strong>Total duration:</strong> {{total_duration|format_duration}}</h6>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-center">
      <h6><strong>Task count:</strong> {{task_count}}</h6>
    </div>
    <div class="col-12 col-sm-6 col-md-3 text-sm-center text-right">
      <h6><strong>Session count:</strong> {{session_count}}</h6>
    </div>
  </div>

  <div class="row justify-content-end mt-2">
    {% include 'pomodoro/include/pagination.html' with object_list=projects paginator=paginator page_url='pomodoro:project-list' %}
  </div>
  <div class="row">
    <table class="table table-striped table-bordered table-list table-hover">
      <thead class="table-dark">
        <tr>
          <th>#</th>
          <th>Project</th>
          <th>Tasks</th>
          <th>Sessions</th>
          <th>Total Duration</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>
            <a href="{% url 'pomodoro:project-detail' project.pk %}">{{project.title}}</a>
          </td>
          <td>{{project.task_count}}</td>
          <td>{{project.session_count}}</td>
          <td>{{project.total_duration|format_duration}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
  <div class="row justify-content-end mt-2">
    {% include 'pomodoro/include/pagination.html' with object_list=projects paginator=paginator page_url='pomodoro:project-list' %}
  </div>
</div>

{% endblock content %}