{% extends 'base.html' %}
{% load pomodoro_extras %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Tasks
                <a href="{% url 'pomodoro:new' %}" class="btn btn-dark text-bold float-md-right"><i
                        class="fa fa-plus"></i> New Task</a>
            </h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-3 col-md-3 text-left">
            <h6><strong>Task count:</strong> {{task_count}}</h6>
        </div>
        <div class="col-12 col-sm-3 col-md-3 text-center">
            <h6><strong>Project count:</strong> {{project_count}}</h6>
        </div>
        <div class="col-12 col-sm-3 col-md-3 text-center">
            <h6><strong>Session count:</strong> {{session_count}}</h6>
        </div>
        <div class="col-12 col-sm-3 col-md-3 text-right">
            <h6><strong>Total duration:</strong> {{total_duration|format_duration}}</h6>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-4 col-md-4 text-left text-success">
            <h6><strong>Continued Session:</strong> {{continued_count}}</h6>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-center">
            <h6><strong>Avg. duration per session:</strong> {{average_duration|format_duration}}</h6>
        </div>
        <div class="col-12 col-sm-4 col-md-4 text-right text-danger">
            <h6><strong>Interrupted session:</strong> {{interrupted_count}}</h6>
        </div>
    </div>
    <div class="row justify-content-end mt-2">
        {% include 'pomodoro/include/pagination.html' with object_list=tasks paginator=paginator page_url='pomodoro:all-tasks' %}
    </div>
        <div class="row">
        <table class="table table-striped table-bordered table-hover text-left">
            <thead class="table-dark">
                <tr>
                    <th>Task</th>
                    <th>Project</th>
                    <th>Duration</th>
                    <th class="text-center">New Session</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                <tr>
                    <td title="{{task.title}}"><a
                            href="{% url 'pomodoro:task-detail' task.pk %}">{{ task.title|truncatechars:55 }}
                            ({{task.session_set.all.count}}
                            Session{% if task.session_set.all.count > 1%}s{% endif %})</a></td>
                    <td title="{{task.project.title}}"><a
                            href="{{task.project.get_absolute_url}}">{{ task.project.title|truncatechars:55 }}</a></td>
                    <td>{{ task.duration|format_duration }}</td>
                    <td class="text-center">
                        <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="taskid" id="taskid" value="{{task.pk}}">
                            <button type="submit" class="btn btn-default text-primary">
                                <i class='fa fa-play-circle'></i>
                                Start
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end mt-2">
        {% include 'pomodoro/include/pagination.html' with object_list=tasks paginator=paginator page_url='pomodoro:all-tasks' %}
    </div>
</div>

{% endblock content %}