{% extends 'base.html' %}
{% load pomodoro_extras %}
{% block content %}

<div class="row">
    <div class="col-12">
        <h2>Tasks
            <small>
                <span class="badge badge-pill badge-dark">{{tasks.count}}</span>
            </small>
        </h2>
        <div class="table-responsive">
            <table id="history" class="table table-striped table-bordered table-hover table-responsive text-left ">
                <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Task</th>
                    <th>Project</th>
                    <th>duration</th>
                    <th>Start a New Session</th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td title="{{task.title}}">{{ task.title|truncatechars:55 }} <a href="{% url 'pomodoro:task-detail' task.pk %}">See {{task.session_set.all.count}} Session{% if task.session_set.all.count > 1%}s{% endif %}</a></td>
                    <td title="{{task.project.title}}"><a href="{{task.project.get_absolute_url}}">{{ task.project.title|truncatechars:55 }}</a></td>
                    <td>{{ task.duration|format_duration }}</td>
                    <td>
                        <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="taskid" id="taskid" value="{{task.pk}}">
                            <button type="submit" class="btn btn-default text-primary">
                            <i class='fa fa-play-circle'></i>
                            Start
                            </button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>


{% endblock content %}