{% extends 'base.html' %}
{% load pomodoro_extras %}

{% block content %}
<div class="col-6 offset-3">
    <h3 class="text-danger">Confirm Delete <i class="fa fa-trash"></i></h3>

    <form action="." method="post">{% csrf_token %}
        <div class="alert alert-danger">
            <p>
                Are you sure you want to delete
                <a href="{{object.get_absolute_url}}" class="text-danger">
                    <strong>{{object.title|title}}</strong>
                </a>
                {{type}}
            </p>
            <p>
                <i class="fa fa-exclamation-circle"></i> This means that you will lose all the sessions of
                <a href="{{object.get_absolute_url}}" class="text-danger">
                    <strong>{{object.title|title}} {{object|to_class_name}}</strong>
                </a>
            </p>
        </div>
        <div class="float-right">
            <a href="{{object.get_absolute_url}}" class="btn btn-default">Cancel</a>
            <button class="btn btn-danger" type="submit"><i class="fa fa-trash"></i> Delete</button>
        </div>
    </form>
</div>

{% endblock %}