{% load pomodoro_extras %}
<html dir="rtl">
 <head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
 </head>
 <body>
  <h1 class="dir" style="h1{font-size: 35px;}">المحتويات</h1>
<h1 class="dir" style="font-size: 25px">
 القرآن الكريم
</h1>
  <h3 class="dir" style="font-size:17px">
   ما تيسر من المصحف المرتل - ماهر المعيقلي
  </h3>
  <h3 class="dir" style="font-size:17px">
   إبراهيم الجبرين
  </h3>
 {% for r in result %}
  {% if r.1 == 'dir'%}
   <h1 class="dir">{{r.0}}</h1>
  {% else %}
   <p class="file">{{r.0}}</p>
  {% endif %}
  {% empty %}
  <p>nothing</p>
 {% endfor %}
 </body>
</html>