{% extends 'base.html' %}
{% load static %}
{% load pomodoro_extras %}
{% block title %} - Timeout{% endblock %}

{% block content %}
<div class="center-panel">
    <div class="row">
        <div class="col-12">
            <h1 class="mb-3">{{task.title}}</h1>
            <h3 class="mb-3"><i class="fa fa-cubes"></i> {{task.project.title}}</h3>
            <h2>
                Passed time: {{session.get_duration|format_duration}}
                <small>
                    <a href="{% url 'pomodoro:edit-session' task.id session.id %}" title="Remove this session" data-toggle="tooltip">
                        <i class="fa fa-pencil"></i></a>
                    <a href="{% url 'pomodoro:history-delete' session.id %}" title="Remove this session" data-toggle="tooltip">
                        <i class="fa fa-trash text-danger"></i></a>
                </small>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="btn-group" role="group">
                <a href="{% url 'pomodoro:home' %}" type="button" class="btn btn-lg btn-outline-primary">Home</a>
                <a href="{% url 'pomodoro:project-detail' task.project.id %}" type="button" class="btn btn-lg btn-outline-primary">Project detail</a>
                <a href="{% url 'pomodoro:task-detail' task.id %}" type="button" class="btn btn-lg btn-outline-primary">Task detail</a>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                <input type="hidden" name="taskid" value="{{task.id}}">
                <button class="btn btn-lg btn-primary" type="submit"><i class="fa fa-play-circle"></i> New Session</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ block.super }}
<script src="{% static 'js/notify.js' %}"></script>
<script>
    $(document).ready(function () {
        notifyMe('Countdown Finished')
    });
</script>
{% endblock scripts %}