{% extends 'base.html' %}

{% block title %} - Select a task{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    <div class="col-12 col-md-8">
        <!-- tasks header -->
        <h2 class="sub-header">
            <i class="fa fa-fire"> Recent Tasks</i>
            <span class='pull-right'>
            <a href="{% url 'pomodoro:new' %}" class="btn btn-default text-primary" id="newTaskButton">
                <span class="fa fa-plus"> New Task</span>
            </a>
            <a href="{% url 'pomodoro:projects' %}" class="btn btn-default text-primary" role="button">
                <span class="fa fa-cubes"> Projects</span>
            </a>
            <a href="{% url 'pomodoro:all-tasks' %}" class="btn btn-default text-primary">
                <span class="fa fa-list"> Tasks</span>
            </a>
        </span>
        </h2>
        <div class="clearfix"></div>
        <!-- end tasks header -->

        <!-- task list -->
        <div id="tasks" class="list-group">

            {% for task in recent_tasks %}
            <div class="row list-group-item" data-id="{{ task.id }}">
                <div class="col-sm-8">
                    <p style="font-size: 17px; font-weight: bold">{{ task.title }}</p>
                    <p class="text-muted"><strong>{{ task.project.title }}</strong></p>
                    <hr>
                    <p class="text-muted">last activity {{task.last_activity|timesince }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- end task list -->

    </div>

    <div class="col-12 col-md-4">
        <div class="center-panel">
            <h2 class="sub-header">
                Click a task and hit start button
            </h2>
            <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                <input type="hidden" name="taskid" id="taskid">
                <button type="submit" class="btn btn-primary btn-lg" onclick="submit()" id="startButton" disabled>
                    <i class='fa fa-play-circle'></i>
                    Start
                </button>
            </form>
        </div>

        {% for period, info in stats.items %}
        {% include 'pomodoro/include/period_stats.html' %}
        {% endfor %}
    </div>
</div>
{% endblock %}
