{% extends 'base.html' %}
{% load pomodoro_extras %}

{% block title %} - Select a task{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div class="row">
    <div class="col-12 col-md-8">
        <!-- tasks header -->
        <h2 class="sub-header">
            <i class="fa fa-fire"> Recent Tasks</i> 
        <div class='pull-right'>
            <a href="{% url 'pomodoro:new' %}" class="btn btn-default text-primary" id="newTaskButton">
                <span class="fa fa-plus"> New Task</span>
            </a>
            <a href="{% url 'pomodoro:projects' %}" class="btn btn-default text-primary" role="button">
                <span class="fa fa-database"> Projects</span>
            </a>
            <a href="{% url 'pomodoro:all-tasks' %}" class="btn btn-default text-primary">
                <span class="fa fa-list"> Tasks</span>
            </a>
        </div>
        <div class="clearfix"></div>
        </h2>
        <!-- end tasks header -->

        <!-- task list -->
        <div id="tasks" class="list-group">

            {% for task in tasks %}
            <div class="row list-group-item" data-id="{{ task.id }}">
                <div class="col-sm-8">
                    <p style="font-size: 17px; font-weight: bold">{{ task.title|title }}</p>
                    <p class="text-muted"><strong>{{ task.project.title|title }}</strong></p>
                    <hr>
                    <p class="text-muted">last activity {{task.last_activity|timesince }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- end task list -->

    </div>
    
    <div class="col-12 col-md-4">
            <div class="center-panel">
                <h2 class="sub-header">
                    Click a task and hit start button
                </h2>
                <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                    <input type="hidden" name="taskid" id="taskid">
                    <button type="submit" class="btn btn-primary btn-lg" onclick="submit()" id="startButton" disabled>
                    <i class='fa fa-play-circle'></i>
                    Start
                    </button>
                    <!-- <button class="btn btn-primary btn-lg" id="startButton" disabled><i class="fa fa-play-circle-o fa-lg"> Start</i></button> -->
                </form>
            </div>
        </div>
</div>
<hr>
<div class="row">

    <div class="col-md-12">
        <style>
                .col1 {
                    width: 25%
                }
                .col2 {
                    width: 55%
                }
                .col3 {
                    width: 20%
                }
            </style>

        {% if today_task_duration %}
        {% include 'pomodoro/include/duration-table.html' with total_duration=today_total_duration period='Today' task_duration=today_task_duration %}
        {% endif %}

        {% if yesterday_task_duration %}
        {% include 'pomodoro/include/duration-table.html' with total_duration=yesterday_total_duration period='Yesterday' task_duration=yesterday_task_duration %}
        {% endif %}

        {% if last_week_task_duration %}
        {% include 'pomodoro/include/duration-table.html' with total_duration=last_week_total_duration period='Last Week' task_duration=last_week_task_duration %}
        {% endif %}

        {% if last_month_task_duration %}
        {% include 'pomodoro/include/duration-table.html' with total_duration=last_month_total_duration period='Last Month' task_duration=last_month_task_duration %}
        {% endif %}
    </div>

</div>

{% endblock %}
