{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="col-6 offset-3">
    <h2>Create a New Task</h2>
    <form action="." method="post">{% csrf_token %}
        <div class="row">
            <div class="col-8">
                {{ form|as_crispy_errors:"bootstrap3" }}
                {{ form.project|as_crispy_field }}
            </div>
            <div class="col-4">
                <span class="align-middle">
                    <h5 style="margin-top: 35px;">
                        <a href="{% url 'pomodoro:project-create' %}"><i class="fa fa-plus-circle"></i> New</a>
                    </h5>
                </span>
            </div>

        </div>
        <div class="row">
            <div class="col-sm-12">{{ form.title|as_crispy_field }}</div>
        </div>

        <button class="btn btn-primary float-right" type="submit">Create</button>
    </form>
</div>


{% endblock content %}