{% extends 'base.html' %}

{% load pomodoro_extras %}
{% block content %}
<div class="row">
    <div class="col-10">
        <h1>
            {{ project.title }}
            <small>
                <a href="{% url 'pomodoro:project-edit' project.id %}">
                    <i class="fa fa-pencil text-primary"></i></a>
                <a href="{% url 'pomodoro:project-delete' project.pk %}">
                    <i class="fa fa-trash text-danger"></i>
                </a>
            </small>
        </h1>
        <h3><span title="{{project.created_at}}" data-toggle="tooltip">Created: <small>{{project.created_at|timesince}} ago</small></span></h3>
    </div>
    <div class="col-2 d-flex align-items-center">
        <a href="{% url 'pomodoro:new' %}" class="btn btn-primary"><i class="fa fa-plus"></i> New Task</a>
    </div>
</div>
<hr>
{% if stats.total_duration %}

{% include 'pomodoro/include/stats-header.html' with result=stats %}

<hr>
<div class="row">
    <div class="col-12">
        <table class="table table-striped">
            <thead class="table-dark">
            <tr>
                <th>Task</th>
                <th>Sessions</th>
                <th>Duration</th>
                <th>First Start</th>
                <th>Last Finish</th>
                <th class="text-center">Detail</th>
                <th class="text-center">Delete</th>
                <th class="text-center">New Session</th>
            </tr>
            </thead>
            <tbody>
            {% for task in project.task_set.all %}
                <tr>
                    <td>{{task.title}}</td>
                    <td>{{task.session_set.all.count}}</td>
                    <td>{{task.duration|format_duration}}</td>
                    <td title="{{task.session_set.last.start_time}}" data-toggle="tooltip">{{task.session_set.last.start_time|timesince}}</td>
                    <td title="{{task.session_set.first.finish_time}}" data-toggle="tooltip">{{task.session_set.first.finish_time|timesince}}</td>
                    <td>
                        <a href="{% url 'pomodoro:task-detail' task.pk %}" class="btn btn-outline-primary"><i class="fa fa-info-circle"></i> Detail</a></td>
                    <td>
                        <a href="{% url 'pomodoro:task-delete' task.pk %}" class="btn btn-outline-danger"><i class="fa fa-trash"></i> Delete</a></td>
                    <td>
                        <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                            <input type="hidden" name="taskid" value="{{task.id}}">
                            <button class="btn text-primary" type="submit"><i class="fa fa-play-circle"></i> Session</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% else %}
{% include 'pomodoro/include/no-tasks.html' %}
{% endif %}
{% endblock %}