{% extends 'base.html' %}
{% load static %}


{% block content %}
<div class="row">
    <div class="col-12 col-md-8">

        <!-- tasks header -->
        <h2 class="sub-header">
            <i class="fa fa-folder-o"></i> {{tasks.first.project.title|title}}
            <div class="float-right">
                <a href="{% url 'pomodoro:new' %}" class="btn text-primary"><i class="fa fa-plus"></i> New
                    Task</a>
                <a href="{% url 'pomodoro:projects' %}" class="btn text-primary" role="button">
                    <span class="fa fa-list"> All Tasks</span>
                </a>
                <a href="{% url 'pomodoro:history' %}" class="btn text-primary">
                    <span class="fa fa-history"> History</span>
                </a>
            </div>
        </h2><!-- end tasks header -->
        <div class="clearfix"></div>
        <!-- task list -->
        <div id="tasks" class="list-group">

            {% for task in tasks %}
            <div class="row list-group-item" data-id="{{ task.id }}">
                <div class="col-sm-8">
                    <p style="font-size: 17px; font-weight: bold">{{ task.title|title }}</p>
                    <hr>
                    use since in date
                    <p class="text-muted">last activity {{task.created_at|date:"d/m/Y H:i" }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- end task list -->

    </div>
    <div class="col-12 col-md-4">
        <div class="center-panel">
            <h2 class="sub-header">
                Click a task and hit start button
            </h2>
            <form action="{% url 'pomodoro:start' %}" method="post">{% csrf_token %}
                <input type="hidden" name="taskid" id="taskid">
                <button class="btn btn-primary btn-lg"><i class="fa fa-play-circle-o fa-lg"></i> Start</button>
            </form>
        </div>
    </div>
</div>


{% endblock content %}