{% load static %}
{% load pomodoro_extras %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Pomodoro {% block title %} {% endblock %}</title>
    <!--  fav icon  -->
    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-touch-icon.png' %}">
    <link rel="icon" sizes="192x192" href="{% static 'img/android-chrome-192x192.png' %}">
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <!-- Font-awesome -->
    <link rel="stylesheet" href="{% static 'font-awesome/css/font-awesome.css' %}">
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    {% block stylesheet_extras %}
    {% endblock %}
</head>

<body>

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="/">ProdUtils</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item {% if 'pomodoro' in request.path %} active {% endif %}">
                <a class="nav-link" href="{% url 'pomodoro:home' %}"><i class="fa fa-clock-o"></i> TimeTracking <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item{% if 'todo' in request.path %} active {% endif %}">
                <a class="nav-link" href="{% url 'todo:home' %}"><i class="fa fa-tasks"></i> ToDo</a>
            </li>
            <li class="nav-item{% if 'reminder' in request.path %} active {% endif %}">
                <a class="nav-link" href="{% url 'reminder:home' %}"><i class="fa fa-calendar"></i> Remainder</a>
            </li>
            <li class="nav-item{% if 'bookmark' in request.path %} active {% endif %}">
                <a href="{% url 'bookmark:home' %}" class="nav-link"> <i class="fa fa-bookmark"></i> Bookmark</a>
            </li>
            <li class="nav-item{% if 'budget' in request.path %} active {% endif %}">
                <a href="{% url 'budget:home' %}" class="nav-link"> <i class="fa fa-money"></i> Budget</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white" id="univ"></a>
            </li>
        </ul>
        <form class="form-inline mt-2 mt-md-0">
            <input class="form-control mr-sm-2" placeholder="Search" aria-label="Search" type="text">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav>
{% if messages %}
<div class="container">
    {% for message in messages %}
    <div class="alert alert-{{message.level_tag}} {{message.extra_tags}} alert-dismissible fade show" role="alert">
      <strong>{{message.level|message_heading}}</strong> {{message.message}}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="container">
    {% block content %} {% endblock %}
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
    {% block scripts %}
    <script src="{% static 'jquery/jquery.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.plugin.min.js' %}"></script>
    <script src="{% static 'jquery/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/proper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script type="text/javascript">
		$("#univ")
			.countdown("2018/09/01", function(event) {
			$(this).text(
				event.strftime('%D days %H:%M:%S')
			);
		});
    </script>
    {% endblock scripts %}

    {% block scripts_extras%}
    {% endblock %}
</body>
</html>
