{% extends 'base.html' %}

{% load crispy_forms_tags %}
{% block content %}
<div class="row">
    <div class="col-sm-4">
        <form method="post" action="">
            {% csrf_token %}
            {{ task_form|crispy }}
            <button class="btn btn-primary" type="submit">Add</button>
        </form>
    </div>

</div>
<br>
<div class="row">
    <h3>Upcoming...</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>Task</th>
                <th>Time</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>task</td>
                <td>time</td>
                <td>date</td>
            </tr>
            <tr>
                <td>task</td>
                <td>time</td>
                <td>date</td>
            </tr>
            <tr>
                <td>task</td>
                <td>time</td>
                <td>date</td>
            </tr>
            <tr>
                <td>task</td>
                <td>time</td>
                <td>date</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover ">
        <thead>
        <tr>
            <th>Task</th>
            <th>Time</th>
            <th>Date</th>
            <th>Done</th>
            <th>Passed</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Task</td>
            <td>Time</td>
            <td>Date</td>
            <td class="success">Done</td>
            <td class="warning">Passed</td>
        </tr>
        <tr>
            <td>Task</td>
            <td>Time</td>
            <td>Date</td>
            <td>Done</td>
            <td>Passed</td>
        </tr>
        <tr>
            <td>Task</td>
            <td>Time</td>
            <td>Date</td>
            <td>Done</td>
            <td>Passed</td>
        </tr>

        </tbody>
    </table>
    </div>
</div>
{% endblock %}